---
import Layout from "../layouts/Layout.astro";
import First from "../components/First.astro";
import Video from "../components/Video.astro";
import Text1 from "../components/Text1.astro";
import Features from "../components/Features.astro";
import Feedback from "../components/Feedback.astro";
import End from "../components/End.astro";
---

<Layout title="FindMyRoomie">
  <main class="flex flex-col">
    <First />
    <Video />
    <Text1 />
    <Features />
    <Feedback />
    <End />
  </main>
</Layout>
