---
import Header from '../components/Header.astro'
import Copy from '../components/Copy.astro'
---


<div class="relative flex flex-col z-40 w-full lg:py-16 lg:px-6">
  <Header />
  <Copy /> 
</div>
