---

---

<div class="relative flex flex-row justify-between items-center mt-24 mx-40 container1">
  <h2
    class="w-full self-center grad py-2 mb-5 text-5xl tracking-thight font-bold text-transparent bg-clip-text"
  >
    Who said finding a <br /> roomie has to be difficult?
  </h2>
  <p class="text-xl text-myBlack">
    Use our advanced search tools to find roommates that match your preferences
    and lifestyle. We take care of your security.
  </p>
</div>

<style>
  .grad {
    background-image: var(--accent-gradient-text);
  }

  @media (max-width: 600px) {
    .container1 {
      flex-direction: column;
      width: 80vw;
      margin-left: 12vw;
    }
  }


</style>
